* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Just Another Hand', cursive;
  font-size: 20px;
}

button{
  width: 100%;
  background-color: #8ffffd;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: #79d7d5;

}

#board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 155px;
  margin: auto;
}

.game_stats {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin: 2em 0;
  background-color: lightcoral;
}

.player {
  margin: 5px;
  min-width: 100px;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid gray;
}

.next_turn {
  transition: all 500ms ease-in;
  background-color: #79d7d5;
  border: 1px solid #79d7d5;
}

.cell {
  display: flex;
  width: 50px;
  background-color: #f0f0f0;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -2px #919191;
}
.cell:hover {
  box-shadow: none;
}

#winner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 1.5em;
  background-color: aquamarine;
  height: 50px;
  border-radius: 5px;
}
